/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
   background: #0f0f0f;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #212330 no-repeat top center;
   background-size: cover !important;
   -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}

header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;

}

header .banner-text {
   width: 100%;
}

header .banner-text h1 {
   font: bold 40px/1.1em 'Kumbh Sans', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

header .banner-text h2 {
   font: 18px/1.9em 'Kumbh Sans', sans-serif;
}

header .banner-text h3 {
   font: 18px/1.9em 'Kumbh Sans', sans-serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .banner-text h3 span,
header .banner-text h3 a {
   color: #ffffff;
}

header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.icons{
   background-color: #212330;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   position: fixed;
   right: 0;
   bottom: 30%;
   width: 60px;
   height: 250px;
   align-self: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   gap: 10px;
}



header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}

.svg-container:hover {
   transform: scale(1.2);
   /* Ajusta la escala según tus preferencias */
   stroke: #0D0D0D;
}


/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

header .scrolldown a:hover {
   color: #ffffff;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'Kumbh Sans', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}

.opaque {
   background-color: #212330;
}

/* hide toggle button */
#nav-wrap>a.mobile-btn {
   display: none;
}

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}

ul#nav li {
   position: relative;
   list-style: none;
   display: inline-block;
}

@media screen and (max-width: 1080px) {
   ul#nav {
      margin-left: 110px;
      display: flex;
      gap: 2px;
   }

   .switches{
      bottom: -30px;
   }
}

@media screen and (max-width: 975px) {
   ul#nav {
      margin-left: 80px; 
   }
}

@media screen and (max-width: 950px) {
   ul#nav {
      margin-left: 25px; 
   }
}

@media screen and (max-width: 836px) {
   ul#nav {
      margin-left: 0%; 
   }

}


.switches{
   display: flex;
   position: absolute;
   top: -32px;
   left: 100px;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

@media screen and (max-width: 1280px) {
.switches{
   left: 12px;
}

@media screen and (max-width: 787px) {

   .switches {
      left: -5px;   
   }

   
}
@media screen and (max-width: 767px) {

   .switches {
      top: 30px;
      left: -37px;   
   }

   
}
   
}

/* Switch dia */

/* switch settings 👇 */

.ui-switch {
   /* switch */
   --switch-bg: rgb(135, 150, 165);
   --switch-width: 48px;
   --switch-height: 20px;
   /* circle */
   --circle-diameter: 32px;
   --circle-bg: #0C1118;
   --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
 }
 
 .ui-switch input {
   display: none;
 }
 
 .slider-l {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: var(--switch-width);
   height: var(--switch-height);
   background: var(--switch-bg);
   border-radius: 999px;
   position: relative;
   cursor: pointer;
   left: 60px;
 }
 
 .slider-l .circle {
   top: calc(var(--circle-inset) * -1);
   left: 0;
   width: var(--circle-diameter);
   height: var(--circle-diameter);
   position: absolute;
   background: var(--circle-bg);
   border-radius: inherit;
   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
   background-repeat: no-repeat;
   background-position: center center;
   -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
   ;
 }
 
 .slider-l .circle::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.75);
   border-radius: inherit;
   -webkit-transition: all 500ms;
   -o-transition: all 500ms;
   transition: all 500ms;
   opacity: 0;
 }
 
 /* actions */
 
 .ui-switch input:checked+.slider-l .circle {
   left: calc(100% - var(--circle-diameter));
   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
 }
 
 .ui-switch input:active+.slider-l .circle::before {
   -webkit-transition: 0s;
   -o-transition: 0s;
   transition: 0s;
   opacity: 1;
   width: 0;
   height: 0;
 }


/* switch traductor */

.switch {
   --input-focus: #0000005f;
   --bg-color: #fff;
   --bg-color-alt: #666;
   --main-color: #323232;
   --input-out-of-focus: #ccc;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   width: 60px;
   height: 30px;
   transform: translateX(calc(50% - 10px));
   left: 40px;
 }
 
 .toggle {
   opacity: 0;
 }
 
 .slider {
   box-sizing: border-box;
   border-radius: 100px;
   border: 2px solid var(--main-color);
   box-shadow: 4px 4px var(--main-color);
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--input-out-of-focus);
   transition: 0.3s;
 }
 
 .slider:before {
   content: "Es";
   box-sizing: border-box;
   height: 26px;
   width: 26px;
   position: absolute;
   left: 0px;
   bottom: 0px;
   border: 2px solid var(--main-color);
   border-radius: 100px;
   background-color: var(--bg-color);
   color: var(--main-color);
   font-size: 10px;
   font-weight: 600;
   text-align: center;
   line-height: 25px;
   transition: 0.3s;
 }
 
 .toggle:checked + .slider {
   background-color: var(--input-focus);
   transform: translateX(-32px);
 }
 
 .toggle:checked + .slider:before {
   content: "En";
   transform: translateX(28px);
 }

/* Links */
ul#nav li a {

   /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
   text-decoration: none;
   text-align: left;
   color: #ffffff;

   -webkit-transition: color .2s ease-in-out;
   -moz-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   -ms-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
}

ul#nav li a:active {
   background-color: #0000005f !important;
}

ul#nav li.current a {
   background-color: #0000005f;
   color: #FFFFFF;
}

.flag__item{
   cursor: pointer;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #0C1118;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a,
#about a:visited {
   color: #fff;
}

#about a:hover,
#about a:focus {
   color: #11ABB0;
}

#about h2 {
   font: 22px/30px 'Kumbh Sans', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}

#about p {
   line-height: 35px;
   color: #CCCCCC;
}

#about p span {
   font-weight: bold;
   color: #FFFFFF;
}
#about .profile-pic {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.96);
}

#about .image-container {
   width: 100%; 
   height: 100%; 
   object-fit: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.content-skills{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
   grid-gap: 15px;
   max-width: 100%;
   padding: 20px;
   border-radius: 5px;
   margin-top: 20px;
}
.elemento-skill{
   display: flex;
   padding: 10px;
   box-shadow: 1px 1px 3px 1px #0e1016;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   min-width: auto;
 }
 .icon-skill{
   width: 70px;
   height: auto;
 }
.elemento-skill:hover{
   transform: scale(1.1);  
} 
.elemento-skill:hover{
   color: #ffffff;  
} 

#about .contact-details {
   width: 31%;
}


#about .download {
   width: 58.33333%;
   padding-top: 6px;
}

#about .main-col {
   padding-right: 5%;
}

#about .download .button {
   margin-top: 6px;
   background: #303845;
}

#about .download .button:hover {
   background: #040608;
   color: #fff;
}

#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
   background: #212330;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}



#resume a:hover,
#resume a:focus {
   color: #313131;
}

#resume h1 {
   font: 18px/24px 'Kumbh Sans', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}

#resume h1 span {
   border-bottom: 3px solid #CCCCCC;
   padding-bottom: 6px;
}

#resume h3 {
   font: 25px/30px 'Kumbh Sans', sans-serif;
}

#resume .header-col {
   padding-top: 9px;
}

#resume .main-col {
   padding-right: 10%;
}

.education,
.work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}

#resume .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}

#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}

#resume .date {
   font: 15px/24px 'Kumbh Sans', sans-serif;
   margin-top: 6px;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
   width: 95%;
   float: left;
   padding: 0;
   text-align: left;
}

.bars .skills {
   margin-top: 36px;
   list-style: none;
}

.bars li {
   position: relative;
   margin-bottom: 60px;
   background: #ccc;
   height: 42px;
   border-radius: 3px;
}

.bars li em {
   font: 15px 'Kumbh Sans', sans-serif;
   color: #313131;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: normal;
   position: relative;
   top: -36px;
}

.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
   background: #313131;
   display: inline-block;
   height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}


@-moz-keyframes photoshop {
   0% {
      width: 0px;
   }

   100% {
      width: 60%;
   }
}

@-moz-keyframes illustrator {
   0% {
      width: 0px;
   }

   100% {
      width: 55%;
   }
}

@-moz-keyframes wordpress {
   0% {
      width: 0px;
   }

   100% {
      width: 50%;
   }
}

@-moz-keyframes css {
   0% {
      width: 0px;
   }

   100% {
      width: 90%;
   }
}

@-moz-keyframes html5 {
   0% {
      width: 0px;
   }

   100% {
      width: 80%;
   }
}

@-moz-keyframes jquery {
   0% {
      width: 0px;
   }

   100% {
      width: 50%;
   }
}

@-webkit-keyframes photoshop {
   0% {
      width: 0px;
   }

   100% {
      width: 60%;
   }
}

@-webkit-keyframes illustrator {
   0% {
      width: 0px;
   }

   100% {
      width: 55%;
   }
}

@-webkit-keyframes wordpress {
   0% {
      width: 0px;
   }

   100% {
      width: 50%;
   }
}

@-webkit-keyframes css {
   0% {
      width: 0px;
   }

   100% {
      width: 90%;
   }
}

@-webkit-keyframes html5 {
   0% {
      width: 0px;
   }

   100% {
      width: 80%;
   }
}

@-webkit-keyframes jquery {
   0% {
      width: 0px;
   }

   100% {
      width: 50%;
   }
}

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
   background: #0C1118;
   padding-top: 90px;
   padding-bottom: 60px;
}

#portfolio h1 {
   font: 15px/24px 'Kumbh Sans', sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #FFFFFF;
}

/* Portfolio Content */


#portfolio .container__ListProjects{
   display: grid;
   grid-template-rows: 1fr;
   justify-content: center;
   align-items: center;
   gap: 28px;
   padding: 28px;
}

#portfolio .container__projects{
   display: flex;
   flex-direction: row;

}

@media screen and (max-width: 1300px)  {

   #portfolio .container__ListProjects{
      display: grid;
   grid-template-columns: repeat(auto-fit, 400px);
   justify-content: center;
   align-items: center;
   }

   #portfolio .container__projects{
      display: flex;
      flex-direction: column;
   }

   .detalles{
      display: none;
   }
}
 @media screen and (max-width: 450px)  {


   #portfolio .container__ListProjects{
      display: grid;
   grid-template-columns: auto;
   justify-content: center;
   align-items: center;
   }
 }

#portfolio .container__projects .project {
   display: flex;
   flex-direction: rows;
   width: 100%;
}

#portfolio .image__container{
   padding: auto;
   display: block;
}

#portfolio img {
   vertical-align: middle;
   border-radius: 9px;
   box-shadow: #0C1118 0px 0px 6px 0px;
}
#portfolio .image__container {
   
   height: auto;
   width: 100%;
   
}


#portfolio .bg__image {
   display: flex;
   background-color: #2f3244;
   flex: 2; 
   border-top-left-radius: 9px;
   border-bottom-left-radius: 9px;
   align-items: center;
   padding: 24px;
   overflow: hidden;
}
#portfolio .bg__image__invert {
   display: flex;
   background-color: #2f3244;
   flex: 2; 
   border-top-right-radius: 9px;
   border-bottom-right-radius: 9px;
   align-items: center;
   padding: 24px;
}

#portfolio .bg__info{
   background-color: #3b3e56;
   flex: 1;
   border-top-right-radius: 9px;
   border-bottom-right-radius: 9px;
   padding: 32px;
}
#portfolio .bg__info__invert{
   background-color: #3b3e56;
   flex: 1;
   border-top-left-radius: 9px;
   border-bottom-left-radius: 9px;
   padding: 32px;
}
.__repo a:hover {
   color: #15161e;
 }

@media screen and (max-width: 1300px)  {
   #portfolio .bg__image {
      padding: 0;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
   }
   
   .image__container{
      position: relative;
   display: inline-block;
   overflow: hidden;
   }

   .image-container img:hover{
      transform: scale(1.1);
   }

   #portfolio img{
      display: block;
      width: 100%;
      height: auto;
      border-radius: 9px 9px 0 0 ; 
      transform: scale(1);
      transition: transform .3s ease-in-out;     
   }

   #portfolio .bg__info{
      border-radius: 0 0 9px 9px;
   }
}


#portfolio .text__info{
   display: flex;
   flex-direction: column;
   gap: 24px;
}

#portfolio ul{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, auto));
   gap: 7px;
}
#portfolio ul li{
   background-color: #15161e;
   display: flex;
   width: auto;
   text-align: center;
   
   align-items: center;
   justify-content: center;
   border-radius: 18px;
   padding: 5px;
   gap: 6px;
}
#portfolio ul li .svg__container{
   height: 16px;
   width: 16px;
   
}
#portfolio a{  
   padding: 10px;
}
#portfolio .container__projects span {
   font: 24px/24px 'Kumbh Sans', sans-serif;
   color: #FFFFFF;
   margin-bottom: 6px;
}
#portfolio .container__projects li {
   font: 12px/24px 'Kumbh Sans', sans-serif;
   color: #FFFFFF;
}

#portfolio .container__projects p {
   font: 16px/24px 'Kumbh Sans', sans-serif;
   font-weight: 200;
   color: #FFFFFF;
   margin-bottom: 6px;
}

#portfolio-wrapper .columns {
   margin-bottom: 36px;
}

.portfolio-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}

.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}

.portfolio-item .item-wrap img {
   vertical-align: bottom;
}

.portfolio-item .portfolio-item-meta {
   padding: 18px
}

.portfolio-item .portfolio-item-meta h5 {
   font: 14px/21px 'Kumbh Sans', sans-serif;
   color: #fff;
}

.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'Kumbh Sans', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/* on hover */
.portfolio-item:hover .overlay {
   opacity: 1;
   -moz-opacity: 1;
   filter: alpha(opacity=100);
}

.portfolio-item:hover .link-icon {
   opacity: 1;
   -moz-opacity: 1;
   filter: alpha(opacity=100);
}

/* popup modal */
.popup-modal {
   max-width: 550px;
   background: #fff;
   position: relative;
   margin: 0 auto;
}

.popup-modal .description-box {
   padding: 12px 36px 18px 36px;
}

.popup-modal .description-box h4 {
   font: 15px/24px 'Kumbh Sans', sans-serif;
   margin-bottom: 12px;
   color: #111;
}

.popup-modal .description-box p {
   font: 14px/24px 'Kumbh Sans', sans-serif;
   color: #A1A1A1;
   margin-bottom: 12px;
}

.popup-modal .description-box .categories {
   font: 11px/21px 'Kumbh Sans', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}

.popup-modal .description-box .categories i {
   margin-right: 8px;
}

.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}

.popup-modal .link-box a {
   color: #fff;
   font: 11px/21px 'Kumbh Sans', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}

.popup-modal a:hover {
   color: #ffffff;
}

.popup-modal a.popup-modal-dismiss {
   margin-left: 24px;
}


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
   -moz-transition: all 200ms ease-in-out;
   -o-transition: all 200ms ease-in-out;
   -ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}

/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}

/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
   background: #0C1118;
   padding-top: 66px;
   padding-bottom: 48px;
}

#call-to-action h1 {
   font: 18px/24px 'Kumbh Sans', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}

#call-to-action h1 span {
   display: none;
}

#call-to-action .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f0ac";
   padding-right: 10px;
   font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}

#call-to-action .action {
   margin-top: 12px;
}

#call-to-action h2 {
   font: 28px/36px 'Kumbh Sans', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}

#call-to-action h2 a {
   color: inherit;
}

#call-to-action p {
   color: #636363;
   font-size: 17px;
}

/*#
call-to-action .button {
	color:#fff;
   background: #0D0D0D;
}
*/
#call-to-action .button:hover,
#call-to-action .button:active {
   background: #FFFFFF;
   color: #0D0D0D;
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
   background-image: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, rgb(33,35,48),rgb(33,35,48));
   background-size: cover !important;
   -webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   min-height: 200px;
   width: 100%;
   overflow: hidden;
}

#testimonials .text-container {
   padding-top: 96px;
   padding-bottom: 66px;
}

#testimonials h1 {
   font: 18px/24px 'Kumbh Sans', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}

#testimonials h1 span {
   display: none;
}

#testimonials .header-col {
   padding-top: 9px;
}

#testimonials .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f10d";
   padding-right: 10px;
   font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}

/*	Blockquotes */
#testimonials blockquote {
   margin: 0 0px 30px 0px;
   padding-left: 0;
   position: relative;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

#testimonials blockquote:before {
   content: none;
}

#testimonials blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 24px;
   line-height: 48px;
   color: #fff
}

#testimonials blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
   color: #fff;
}

#testimonials blockquote cite:before {
   content: "\2014 \0020";
}

#testimonials blockquote cite a,
#testimonials blockquote cite a:visited {
   color: #8B9798;
   border: none
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
   outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
   margin: 0;
   padding: 0;
   list-style: none;
}

.slides li {
   margin: 0;
   padding: 0;
}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}

.flexslider .slides {
   zoom: 1;
}

.flexslider .slides>li {
   position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides>li {
   display: none;
   -webkit-backface-visibility: hidden;
}

/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
   zoom: 1;
   position: relative;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}

.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides>li:first-child {
   display: block;
}

/* Slider Styles */
.slides {
   zoom: 1;
}

.slides>li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
   width: 100%;
   position: absolute;
   bottom: -20px;
   text-align: left;
}

.flex-control-nav li {
   margin: 0 6px;
   display: inline-block;
   zoom: 1;
   display: inline;
}

.flex-control-paging li a {
   width: 12px;
   height: 12px;
   display: block;
   background: #ddd;
   background: rgba(255, 255, 255, .3);
   cursor: pointer;
   text-indent: -9999px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -o-border-radius: 20px;
   border-radius: 20px;
   box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}

.flex-control-paging li a:hover {
   background: #CCC;
   background: rgba(255, 255, 255, .7);
}

.flex-control-paging li a.flex-active {
   background: #fff;
   background: rgba(255, 255, 255, .9);
   cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #0C1118;
   padding-top: 96px;
   padding-bottom: 102px;
   color: #CCCCCC;
}

#contact .section-head {
   margin-bottom: 42px;
}

#contact a,
#contact a:visited {
   color: #fff;
}

#contact a:hover,
#contact a:focus {
   color: #fff;
}

#contact h1 {
   font: 18px/24px 'Kumbh Sans', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #EBEEEE;
   margin-bottom: 6px;
}

#contact h1 span {
   display: none;
}

#contact h1:before {
   font-family: 'FontAwesome';
   content: "\f0e0";
   padding-right: 10px;
   font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #ebeeee;
}

#contact h4 {
   font: 16px/24px 'Kumbh Sans', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}

#contact p.lead {
   font: 18px/36px 'Kumbh Sans', sans-serif;
   padding-right: 3%;
}

#contact .header-col {
   padding-top: 6px;
}


/* contact form */

.container__contact{
   display: flex;
   justify-content: center;
}
#contact form {
   margin-bottom: 30px;
}

#contact label {
   font: 15px/24px 'Kumbh Sans', sans-serif;
   margin: 12px 0;
   color: #EBEEEE;
   display: inline-block;
   float: left;
   width: 26%;
}

#contact input,
#contact textarea,
#contact select {
   padding: 18px 20px;
   color: #0f0f0f;
   background: #f8f8f8;
   margin-bottom: 42px;
   border-radius: 6px;
   outline: none;
   font-size: 15px;
   line-height: 18px;
   width: 45%;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus {
   color: #0F0F0F;
   background-color: #CCCCCC;
}

#contact button.submit {
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
   background: #303845;
   border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
   border-radius: 6px;
   margin-left: 26%;
}

#contact button.submit:hover {
   color: #0D0D0D;
   background: #fff;
}

#contact span.required {
   color: #b01111;
   font-size: 13px;
}

#message-warning,
#message-success {
   display: none;
   background: #0F0F0F;
   padding: 24px 24px;
   margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}

#message-warning {
   color: #D72828;
}

#message-success {
   color: #11ABB0;
}

#message-warning i,
#message-success i {
   margin-right: 10px;
}

#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}


/* Twitter Feed */
#twitter {
   margin-top: 12px;
   padding: 0;
}

#twitter li {
   margin: 6px 0px 12px 0;
   line-height: 30px;
}

#twitter li span {
   display: block;
}

#twitter li b a {
   font: 13px/36px 'Kumbh Sans', sans-serif;
   color: #474747 !important;
   border: none;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   padding-bottom: 14px;
   color: #CCCCCC;
   font-size: 14px;
   text-align: center;
   position: relative;
   background-image: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, rgb(33,35,48),rgb(33,35,48));
}

footer a,
footer a:visited {
   color: #525252;
}

footer a:hover,
footer a:focus {
   color: #fff;
}

/* copyright */
footer .copyright {
   margin: 0;
   padding: 0;
}

footer .copyright li {
   display: inline-block;
   margin: 0;
   padding: 0;
   line-height: 24px;
}

.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
   content: "\2022";
   padding-left: 10px;
   padding-right: 10px;
   color: #095153;
}

footer .copyright li:first-child:before {
   display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}

footer .social-links li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 42px;
   color: #F06000;
}

footer .social-links li:first-child {
   margin-left: 0;
}

/* Go To Top Button */
#go-top {
   position: absolute;
   top: -24px;
   left: 50%;
   margin-left: -30px;
}

#go-top a {
   text-decoration: none;
   border: 0 none;
   display: block;
   width: 60px;
   height: 60px;
   background-color: #212330;

   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   font-size: 21px;
   line-height: 60px;
   border-radius: 100%;
}

#go-top a:hover {
   background-color: #353741 ;
}